@import "./variables.scss";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";
@import "./components/logo.scss";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  cursor: url(../src/assets/Cursor.webp), auto;
}
