.footer {
    background-color: white;
    &__logo {
        text-align: center ;
    }
    &__links {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) ); 
        .footer__heading {
            text-align: center; 
        }
    }
    &__contacts{
        margin-top: 2em;
        .footer__social{
            display: none
        }
        .footer__icons{
            display: flex;
            place-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}