@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display&display=swap");

.header {
  background: var(--bg-color, #faeb8c);
  &__wrapper {
    height: 823px;
  }
  &__fixed {
    background: var(--bg-color, #faeb8c);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  &__logo {
    width: 119px;
    height: 74px;
  }
  &__menu{
    & svg rect{
      fill: var(--text-color, #051473);
    }
  }
  &__heading {
    padding: 235px 0 0 140px;
    width: 972px;
    height: 353px;
    margin: 0;
    color: var(--text-color, #051473);
    font-family: 'Playfair Display';
    font-size: 101.437px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.7%; /* 100.118px */
  }
}

@media (max-width: 1092px) {
  .header {
    &__wrapper {
      height: 650px;
    }
    &__heading {
      padding: 200px 0 0 100px;
      font-size: 65px;
      height: 270px;
      width: 650px;
    }
  }
}

@media (max-width: 741px) {
  .header {
    &__wrapper {
      height: 550px;
    }
    &__heading {
      padding: 160px 0 0 70px;
      font-size: 50px;
      height: 270px;
      width: 450px;
    }
    &__menu{
      & svg{
        width: 30px;
        height: 30px;
      }
    }
    &__logo{
      height: unset;
      &.logo{
        
        font-size: 30px;
      }
    }
  }

  
}

@media (max-width: 512px) {
  .header {
    &__wrapper {
      height: 400px;
    }
    &__logo {
      width: 90px;
      height: 60px;
    }
    &__fixed {
      padding: 10px;
    }
    &__heading {
      padding: 130px 0 0 40px;
      font-size: 42px;
      height: 270px;
      width: 300px;
    }
  }
}
