@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  background: var(--bg-color);
  padding: 0 180px;
  &__image {
    overflow: hidden;
    &__container {
      display: flex;
      transition: all 1s;
      & img {
        width: 100%;
      }
    }
  }
  &__line {
    width: 34px;
    height: 1px;
    background: #000;
    display: inline-block;
  }
  &__photo {
    &-description {
      padding: 66px 10px 114px 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 125px;
    }
    &-subheading {
      color: var(--text-color);
      font-family: "DM Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 153.7%; /* 36.888px */
      margin: 0;
      padding: 16px 0;
    }
    &-heading {
      color: var(--text-color);
      font-family: "Playfair Display";
      font-size: 40.041px;
      font-style: normal;
      font-weight: 400;
      line-height: 120.7%; /* 48.329px */
      width: 100%;
      margin: 0;
    }
  }
  &__article {
    padding-left: calc(50% + 20px);
    padding-bottom: 141px;
    &-heading {
      color: var(--text-color);
      font-family: "DM Sans";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 153.7%; /* 43.036px */
    }
    &-text {
      color: var(--text-color);
      font-family: "DM Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 153.7%; /* 36.888px */
    }
  }
}
.image {
  &__image {
    width: 100%;
    min-width: 100%;
    height: $image-height;
  }
  &__heading {
    width: 296px;
    height: 112px;
    color: var(--text-color);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.7%; /* 36.888px */
  }
  &__wrapper {
    position: relative;
    height: $image-height;
    &:hover {
      & .image__background {
        opacity: 0.7;
      }
      & .image__description {
        opacity: 1;
      }
    }
  }
  &__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    font-family: "Playfair Display";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.7%; /* 50.694px */
    width: 100%;
    text-align: center;
    z-index: 5;
    opacity: 0;
    transition: all 0.3s;
  }
  &__background {
    position: absolute;
    inset: 0;
    opacity: 0;
    background: var(--text-color);
    mix-blend-mode: multiply;
    transition: all 0.3s;
  }
  &__underline {
    width: 34px;
    height: 1px;
    background: #000;
    display: inline-block;
    margin-top: 30px;
  }
  &-thumbnails {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
@media (max-width: 1608px) {
  $image-height: 300px;
  .image-thumbnails__wrapper {
    justify-content: center;
  }
  .main {
    &__article {
      padding-left: 0;
    }
    &__photo-description {
      padding: 66px 10px 62px 10px;
    }
    &__article {
      padding-bottom: 70px;
    }
  }
}
@media (max-width: 1200px) {
  .main {
    padding: 0 100px;
    &__photo {
      &-heading {
        font-size: 30px;
      }
      &-description {
        padding: 50px 10px;
      }
    }
    &__article {
      padding-bottom: 60px;
    }
  }
  .image {
    &-thumbnails {
      &__wrapper {
        gap: 0;
      }
    }
  }
}
@media (max-width: 1000px) {
  .main {
    padding: 0 90px;
    &__photo {
      &-description {
        gap: 50px;
        padding: 40px 10px;
      }
      &-subheading {
        font-size: 20px;
        line-height: 130.7%;
        padding: 6px 0;
      }
      &-heading {
        font-size: 25px;
        line-height: normal;
      }
    }
    &__article {
      padding-bottom: 30px;
      &-heading {
        font-size: 24px;
        line-height: 80px;
      }
      &-text {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 800px) {
  $image-height: calc(#{$image-height} * (2 / 3));
  .main {
    padding: 0 20px;
    &__photo {
      &-heading {
        font-size: 18px;
      }
      &-subheading {
        font-size: 16px;
        list-style: 120%;
      }
      &-description {
        padding: 25px 10px;
      }
    }
    &__article {
      &-heading {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .image {
    &__image {
      height: $image-height;
    }
    &__wrapper {
      height: $image-height;
    }
    &__heading {
      height: 80px;
      font-size: 18px;
      line-height: 120.7%;
    }
    &__description {
      font-size: 36px;
    }
  }
}
@media (max-width: 463px) {
  $image-height: calc(#{$image-height} * (1.4 / 3));
  .image {
    &__image {
      height: $image-height;
    }
    &__wrapper {
      height: $image-height;
    }
  }
}
